@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron"  style="background-color: tan;">
        <h1>FarmCo. <img src="\Images\Tractor.jpg" style="float:right; max-width:25%; max-height:25%;   " /></h1>
        
        <p class="lead">Welcome to FarmCo Farm Tracker!</p>


    </div>

<div class="row">
    <div class="col-md-4" style="background-color:tan">
        <h2>Get to work</h2>
        <p>
            Click Here to Create a New Work Assignment
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Assignments")">Create New Assignment &raquo;</a></p>
    </div> 
    <div class="col-md-4" style="background-color:tan">
        <h2>Add a Crop</h2>
        <p>
            Click Here to Add a New Crop Listing
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Crop")">Create New Assignment &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color:tan">
        <h2>View all Farms</h2>
        <p>
            Click Here to View all Active Farm Listings 
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Farm")">Farm Home &raquo;</a></p>
    </div>
</div>